body{
	background: #FFFFFF
}

.wrapper{
	margin: 0px auto; 
	width: 1000px;
}

/* Font */
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.eot);
    src: local(Roboto), local(Roboto-Regular),
        url(fonts/Roboto-Regular.eot?#iefix) format(embedded-opentype),
        url(fonts/Roboto-Regular.woff) format(woff),
        url(fonts/Roboto-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.eot);
    src: local(Roboto Bold), local(Roboto-Bold),
        url(fonts/Roboto-Bold.eot?#iefix) format(embedded-opentype),
        url(fonts/Roboto-Bold.woff) format(woff),
        url(fonts/Roboto-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Italic.eot);
    src: local(Roboto Italic), local(Roboto-Italic),
        url(fonts/Roboto-Italic.eot?#iefix) format(embedded-opentype),
        url(fonts/Roboto-Italic.woff) format(woff),
        url(fonts/Roboto-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

/* Styles */


/*----------------------
		1 BUBBLE
----------------------*/
.firstBubble{
	position: absolute;
	background: #2B5278;
	border-radius: 5px;
	width: 165px; 
	height: 51px; 
	left: 584px; 
	top: 56px;
}

.name{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 13px;
	width: 93px; 
	height: 16px; 
	left: 597px; 
	top: 65px;
	color: #85DE85;
}
.firstText{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	letter-spacing: 0.01em;
	color: #E3EBF1;
	width: 48px; 
	height: 16px; 
	left: 597px; 
	top: 83px;
}

.firstTime{
	position: absolute;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	width: 32px; 
	height: 16px; 
	left: 706px; 
	top: 88px;
	color: #6D7F8F;
}


/*----------------------
		2 BUBBLE
----------------------*/

.secondBubble{
	position: absolute;
	background: #2B5278;
	border-radius: 5px;
	width: 434px; 
	height: 49px; 
	left: 584px; 
	top: 111px;
}

.secondText{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	letter-spacing: 0.01em;
	color: #E3EBF1;
	width: 390px; 
	height: 33px; 
	left: 597.75px; 
	top: 119px;
}

.secondTime{
	position: absolute;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	width: 33.85px; 
	height: 16px; 
	left: 975.52px; 
	top: 141px;
	color: #6D7F8F;
}


/*----------------------
		3 BUBBLE
----------------------*/

.thirdBubble{
	position: absolute;
	background: #2B5278;
	border-radius: 5px;
	width: 135px; 
	height: 33px; 
	left: 584px; 
	top: 164px;
}

.thirdText{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	letter-spacing: 0.01em;
	color: #E3EBF1;
	width: 67px; 
	height: 16px; 
	left: 597px; 
	top: 172.64px;
}

.thirdTime{
	position: absolute;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	width: 32px; 
	height: 16px; 
	left: 676px; 
	top: 177.83px;
	color: #6D7F8F;
}

/*----------------------
		4 BUBBLE
----------------------*/

.fourBubble{
	position: absolute;
	background: #2B5278;
	border-radius: 5px;
	width: 121px; 
	height: 33px; 
	left: 584px; 
	top: 201px;
}

.fourText{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	letter-spacing: 0.01em;
	color: #E3EBF1;
	width: 52px; 
	height: 16px; 
	left: 596.65px; 
	top: 209.64px;
}

.fourTime{
	position: absolute;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	width: 32px; 
	height: 16px; 
	left: 661.91px; 
	top: 214.83px;
	color: #6D7F8F;
}

/*----------------------
		5 BUBBLE
----------------------*/

.fiveBubble{
	position: absolute;
	background: #2B5278;
	border-radius: 5px;
	width: 100px; 
	height: 33px; 
	left: 584px; 
	top: 238px;
}

.fiveText{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	letter-spacing: 0.01em;
	color: #E3EBF1;
	width: 32px;
	height: 16px;
	left: 596.65px;
	top: 246.64px;
}

.fiveTime{
	position: absolute;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	width: 32px; 
	height: 16px; 
	left: 641px; 
	top: 252px;
	color: #6D7F8F;
}

/*----------------------
		6 BUBBLE
----------------------*/

.sixBubble{
	background-image: url(images/bubble.svg);
	position: absolute; 
	width: 254px; 
	height: 33px; 
	left: 577px; 
	top: 275px;
}

.sixText{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	letter-spacing: 0.01em;
	color: #E3EBF1;
	width: auto;
	height: 16px;
	left: 597px;
	top: 283.64px;
}

.sixTime{
	position: absolute;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	width: 32px;
	height: 16px;
	left: 788px;
	top: 288.83px;
	color: #6D7F8F;
}


/*----------------------
		Portrait
----------------------*/
.portrait {
	background-image: url(images/andreyosyagin.png);
	background-size: cover;
	position: absolute; 
	width: 88px; 
	height: 88px; 
	left: 480px; 
	top: 220px;
}


/*----------------------
		Footer Text
----------------------*/

.work{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	width: auto;
	height: 16px;
	left: 486px;
	top: 530px;
	color: #AAAAAA;
	text-align: center;
}

.copyright{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 13px;
	width: auto;
	height: 31px;
	left: 634px;
	top: 572px;
	color: #AAAAAA;
	text-align: center;
}


/* links */
a:link {
  color: #80C6FA;
    text-decoration: none; 
}
a:hover {
  text-decoration: underline;  
}
a:active {
  color: #80C6FA; 
  text-decoration: none; 
}
a:visited{
  color: #80C6FA; 
  text-decoration: none; 
}

